/* App.css */

.App {
  min-height: 100vh; /* Minimum height of viewport */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content to the top */
  align-items: center; /* Center horizontally */
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px; /* Add padding for spacing */
  box-sizing: border-box; /* Include padding in element's total width and height */
}

h1 {
  font-size: 3rem;
  margin-bottom: 30px;
}

a {
  padding: 10px 20px;
  background-color: #4285f4;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #357ae8;
}
